.elementor-control-raw-html.elementor-panel-alert.elementor-panel-alert-danger.elemendas-warning {
  font-style: normal;
  color: black;
}
.elementor-control-raw-html.elementor-panel-alert.elementor-panel-alert-danger.elemendas-warning > ol > li {
  list-style-type: decimal;
  margin-left: 1em;
}
