/* CSS for the frontend */

.elmadd-carousel3D {
  --z-translation: 400px;  /* Carousel radius */
  --rpm: 5;                /* Rotation speed  */
  margin: 0 auto;          /* Carousel align  */
  height: 500px;           /* Carousel height */
  width: 90%;              /* Carousel width  */
  perspective: 100vw;      /* Perspective     */
  overflow: hidden;
}

.elmadd-3Dcards-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 12s infinite linear;
  animation-duration: calc(60s/var(--rpm));
}

@keyframes rotate {
  to {
    transform: rotateY(360deg);
  }
}

.elmadd-3Dcard {
  height: 300px;
  width: 300px;
  position: absolute;
}

.elmadd-3Dimage, .elmadd-lightbox-link {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-clip: padding-box;
}



