.elemendas-highlight {
    text-decoration-color: var( --e-global-color-accent );
}
.elemendas-notice i.fas {
    color: #71d7f7;
    font-size: 25px;
    margin-right: 1rem;
}
.elementor-panel-alert.elemendas-notice {
    font-size: 15px;
    color: black;
}
