/* CSS used to customize the border-style control style at the editor bar */

.elementor-control-type-border-style .elementor-control-field {
  flex-wrap: wrap;
  row-gap: 0.5rem;
  justify-content: center; /* Aligns choices to center */
}
.elementor-control-type-border-style label.elementor-control-title {
  margin-right: auto; /* Aligns label title to left, and choices to right (superseedes choices alignement when in same row) */
}

.elementor-control-type-border-style label.elementor-choices-label:first-of-type:nth-last-of-type(6),
.elementor-control-type-border-style label.elementor-choices-label:first-of-type:nth-last-of-type(6) ~ label {
  --full-width-cell-size: calc((var(--e-editor-panel-width) - 2 * var(--e-elementor-control-lateral-padding)) / 6 );
}
.elementor-control-type-border-style label.elementor-choices-label:first-of-type:nth-last-of-type(7),
.elementor-control-type-border-style label.elementor-choices-label:first-of-type:nth-last-of-type(7) ~ label {
  --full-width-cell-size: calc((var(--e-editor-panel-width) - 2 * var(--e-elementor-control-lateral-padding)) / 7 );
}
.elementor-control-type-border-style label.elementor-choices-label:first-of-type:nth-last-of-type(8),
.elementor-control-type-border-style label.elementor-choices-label:first-of-type:nth-last-of-type(8) ~ label {
  --full-width-cell-size: calc((var(--e-editor-panel-width) - 2 * var(--e-elementor-control-lateral-padding)) / 8 );
}
.elementor-control-type-border-style label.elementor-choices-label {
  --full-width-cell-size: calc((var(--e-editor-panel-width) - 2 * var(--e-elementor-control-lateral-padding)) / 5 );
  --max-cell-size: 38px;
  --cell-size: calc(min(var(--full-width-cell-size),var(--max-cell-size)));
  font-size: calc(var(--cell-size) * 0.7 - 6px);
  width: var(--cell-size);
  height: var(--cell-size);
  line-height: calc(var(--cell-size) - 2px);
  transition: none;
}

.elementor-control-type-border-style .elementor-choices {
  --e-elementor-control-lateral-padding: 20px;
  height: auto;
}

/* Special 'elemendas' icon font rules for border control */
i.elm-border {
  border-width:3px;
  border-color:black;
  color:transparent;
}
.elm-noborder:before {
  content: "";
}
.elm-border:before {
  content: "\e900";
}
.elm-solid {
  border-style: solid;
}
.elm-dashed {
  border-style: dashed;
}
.elm-dotted {
  border-style: dotted;
}
.elm-double {
  border-style: double;
}
i.elm-border-outdated {
  border-width:6px;
  border-color:black;
  color:transparent;
  font-size: calc(var(--cell-size) * 0.7 - 10px);
}
.elm-border-outdated:before {
  content: "\e900";
}
.elm-ridge {
  border-style: ridge;
}
.elm-groove {
  border-style: groove;
}
.elm-inset {
  border-style: inset;
}
.elm-outset {
  border-style: outset;
}
